.cat-card {
  position: relative;
  border-radius: 20px !important;
}
.cat-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}

.screen {
  background-color: rgba(0, 0, 0, 0.751);
  z-index: 2000;
  border-radius: 10px;
}
.cat-content {
  background-color: rgba(0, 0, 0, 0.751);
  position: absolute;
  top: 40%;
  font-weight: 600;
  font-size: 30px;
  color: #fdfdfd;
  transform: translateX(50%);
  right: 50%;
  z-index: 200;
  cursor: pointer;
}
