.btn-group .btn {
  background-color: #474559 !important;
  color: #fff;
  padding: 12px !important;
}
.btn-group .btn:hover {
  background-color: #ffc200 !important;
  color: #474559;
}

.btn-group .show {
  color: #fff !important;
}
.dropdown-menu {
  width: 100%;
  background-image: linear-gradient(to bottom, #474559, #2c2c2c);
  color: #fff !important;
}
.dropdown-item {
  color: #fff !important;
}
.dropdown-item:hover {
  background-color: #ffc200 !important;
  color: #474559 !important;
}
