.bg {
  background-color: #3f3d56;
  color: #fff;
}
.nav-item {
  margin-bottom: 12px !important;
}
.nav-item .navLink {
  font-size: 16px !important;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}
.nav-item .navLink:hover {
  color: #ffc200;
}
.tag {
  color: #ffc200;
  font-weight: 800;
}
