@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

.nav-item .nav-link {
  font-size: 20px !important;
  font-weight: 600;
}
.navi {
  overflow: hidden;
  background-color: #fbf7ff;
}
.navi .nav-container {
  background-color: transparent;
  border-bottom: 1px solid #eee;
}
.logo .nav-link {
  color: #8a2be2;
  font-family: "Rock Salt", cursive;
  font-weight: 600;
}
.searchbar .form-control {
  background-color: #f5eaff;
}
.searchbar .form-control::placeholder {
  color: #9c9c9c;
}
.nav-item .nav-link:active {
  color: #8a2be2 !important;
  text-decoration: line-through !important;
}
.icon-color {
  color: #8a2be2;
  font-weight: 700 !important;
}
